.article {
	margin-block: 4em;

	&__top {
		position: relative;
		height: 300px;
		@include respond(tablet) {
			height: 500px;
		}
		&-info {
			display: flex;
			position: absolute;
			bottom: 0;
			left: 0;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			gap: 1em;
			border-bottom: 2px solid $dark-color;
			background-color: $bg-color;
			padding: 1em;
			width: 100%;
			@include respond(tablet) {
				padding: 3em 2em;
			}
			ul.post-categories {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 1em;

				li a {
					@include btn-product;
					padding: 0.3em 2em;
					@include respond(tablet) {
						font-size: 2rem;
					}
				}
			}
		}
	}
	&__thumbnail {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__date {
		font-weight: 700;
		@include respond(tablet) {
			font-size: 2rem;
		}
		i {
			margin-right: 0.5em;
		}
	}
	&__title {
		margin: 1em 0;
		color: $dark-color;
	}
	&__content {
		background-color: rgba($color: gray, $alpha: 0.1);
		padding: 1em;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 1em;
			color: $dark-color;
			line-height: 150%;
		}
		h1 {
			font-size: 3.2rem;
		}
		p {
			margin-bottom: 2em;
			color: $text-color;
			line-height: 150%;
		}
		a {
			border-bottom: 2px solid #ddd;
			color: $text-color;
			font-weight: 700;
			&:hover {
				border-bottom: 2px solid $dark-color;
			}
		}
		ul {
			margin-bottom: 1em;
			li {
				position: relative;
				margin-bottom: 0.5em;
				padding-left: 1em;
				color: $text-color;
				&::before {
					position: absolute;
					left: 0;
					content: '+';
					font-weight: 700;
					font-size: 1.7rem;
				}
			}
		}
		ol {
			margin-bottom: 1em;
			padding-left: 1em;
			li {
				margin-bottom: 0.5em;
				color: $text-color;
				&::marker {
					font-weight: 700;
				}
			}
		}
		.wp-block-image {
			@include respond(tablet) {
				width: 100%;
				max-width: 600px;
			}
		}
	}
}
