.container {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 1600px;
	width: 100%;
}

.section-title {
	position: relative;
	margin: 1em;
	&::after {
		position: absolute;
		content: '';
		left: -10px;
		bottom: 0;
		width: 2px;
		height: 100%;
		background-color: $dark-color;
	}
}

.section-padding {
	padding: 1em 0;
}

@media (min-width: 768px) {
	.section-padding {
		padding: 4em 1em;
	}
	.section-title {
		font-size: 2.8rem;
	}
}
