.contact {
	&__boxes {
		display: flex;
		flex-direction: column;
		margin: 1em;
		@include respond(tablet) {
			flex-direction: row;
		}
	}
	&__box {
		margin-bottom: 1em;
		&-left {
			@include respond(tablet) {
				margin-right: 2em;
				width: 45%;
			}
		}
		&-right {
			@include respond(tablet) {
				width: 55%;
			}
		}
		&-map-mobile,
		&-map-desktop {
			iframe {
				width: 100%;
			}
		}
		&-map-mobile {
			margin-top: 1em;
			@include respond(tablet) {
				display: none;
			}
		}
		&-map-desktop {
			display: none;
			@include respond(tablet) {
				display: block;
			}
		}
		&-icons {
			display: flex;
			align-items: flex-start;
			i {
				margin-right: 0.5em;
				color: $dark-color;
				font-size: 1.8rem;
			}
			p {
				font-size: 1.5rem;
				text-transform: uppercase;
			}
		}
		&-middle {
			margin: 0.5em 0;
		}
		&-text {
			color: $text-color;
			font-size: 1.5rem;
		}
		&-btn {
			display: block;
			margin: 1em 0;
			@include btn-product;
			width: 100%;
			font-size: 1.5rem;

			@include respond(tablet) {
				width: 190px;
			}
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		&-top,
		&-middle,
		&-bottom {
			display: flex;
			flex-direction: column;
			// margin-bottom: 1em;
		}

		&-label,
		&-input {
			margin-bottom: 1em !important;
			color: $text-color !important;
			font-family: 'Roboto', sans-serif;
		}
		&-label {
			font-weight: 700;
			font-size: 1.4rem;
			text-transform: uppercase;
		}
		&-input,
		&-textarea {
			outline: none;
			border: 1px solid gray;
			border-radius: 5px;
			padding: 0.8em 1em;
			&:hover,
			&:focus {
				border: 1px solid $dark-color;
			}
			&:focus {
				background-color: rgba($color: gray, $alpha: 0.1);
			}
		}
		&-textarea {
			margin-bottom: 1.5em;
			width: 100%;
			max-width: 100%;
			resize: vertical;
			font-family: 'Roboto', sans-serif;
		}
		&-btn {
			@include btn-product;
			// padding: 1em 1.5em;
			font-size: 1.8rem;
			text-transform: uppercase;
		}
	}
}

.nf-form-cont {
	.nf-form-title {
		display: none !important;
	}
	.nf-before-form-content {
		display: none !important;
	}

	.nf-field-container {
		margin-bottom: 0 !important;
	}

	.nf-error-msg {
		margin-block: 0.5em !important;
		font-size: 1.3rem !important ;
	}

	label,
	input {
		margin-bottom: 1em !important;
		background-color: $bg-color !important;
		height: inherit !important;
		// padding: 0.8em 1em !important;
		color: $text-color !important;
		font-size: 1.3rem !important;
		font-family: 'Roboto', sans-serif;
	}

	input {
		margin-bottom: 0 !important;
	}

	.nf-field-element {
		&::after {
			right: 0 !important;
			width: 40px !important;
			height: 36px !important;
			line-height: 36px !important;
		}
	}

	label {
		font-weight: 700 !important;
		font-size: 1.4rem !important;
		text-transform: uppercase !important;
	}

	input,
	textarea {
		outline: none !important;
		border: 1px solid gray !important;
		border-radius: 5px !important;
		background-color: $bg-color !important;
		padding: 0.8em 1em !important;
		color: $text-color !important;
		font-size: 1.3rem !important;
		&:hover,
		&:focus {
			border: 1px solid $dark-color !important;
		}
		&:focus {
			background-color: rgba($color: gray, $alpha: 0.1) !important;
		}
	}

	#nf-field-10 {
		@include btn-product;
		cursor: pointer !important;
		border: 2px solid transparent !important;
		background-color: $dark-color !important;
		padding: 0.5em 1em !important;
		width: 100% !important;
		color: $bg-color !important;
		// padding: 1em 1.5em;
		font-size: 1.8rem !important;
		text-transform: uppercase !important;

		&:hover,
		&:focus {
			border: 2px solid $dark-color !important;
			background-color: $bg-color !important;
			color: $dark-color !important;
		}
	}
}
