.fabric {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(0);
	visibility: visible;
	z-index: 999;
	transition: transform 0.3s;
	box-shadow: -1px 0 20px $text-color;
	background-color: $bg-color;
	width: 55vw;
	height: 100vh;
	@include respond(tablet) {
		width: 35vw;
	}
	@include respond(desktop-small) {
		width: 25vw;
	}
	&__tabs {
		display: none;
		flex-direction: column;
		margin: 0;
		box-shadow: inset 0px 1px 20px -10px;
		padding: 0;
		max-height: 300px;
		overflow-y: auto;
		list-style-type: none;
	}
	&__tabs.show-tabs {
		display: flex;
	}
	&__tab {
		transition: background-color 0.3s;
		cursor: pointer;
		border-bottom: 1px solid rgba($color: $dark-color, $alpha: 0.4);
		padding: 0.8em;
		&:hover {
			background-color: rgba($color: $dark-color, $alpha: 0.1);
		}
	}
	&__submenu {
		&-item {
			position: relative;
			transition: background-color 0.3s;
			cursor: pointer;
			border-bottom: 1px solid rgba($color: $dark-color, $alpha: 0.4);
			padding: 0.8em;
			&:hover {
				background-color: rgba($color: $dark-color, $alpha: 0.1);
			}
		}
		&-btn {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			padding: 0.8em;
			&:hover {
				background-color: $bg-color;
			}
		}
	}
	&__tab.active {
		background-color: rgba($color: $dark-color, $alpha: 0.1);
	}
	&--hidden {
		transform: translateX(100%);
		visibility: hidden;
	}

	&__heading {
		margin-block: 40px;
		margin-left: 0.8em;
	}

	&__container {
		margin-block: 20px;
	}

	&__image {
		cursor: pointer;
		width: 100%;
		height: 100% !important;
		&-box {
			position: relative;
			z-index: 200;
			width: 33.3%;
			height: 90px;
		}
		&-title {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: rgba($color: $dark-color, $alpha: 0.4);
			padding: 0.3em;
			width: 100%;
			color: $white-color;
			font-size: 1.45rem;
			text-align: center;
			text-shadow: 0 0 5px $text-color;
		}
	}
	[data-tab-content] {
		display: none;
	}

	.active[data-tab-content] {
		display: flex;
		flex-wrap: wrap;
	}

	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
	}

	&__close {
		margin-right: 0.5em;
		padding: 0.1em;
		border: 2px solid $dark-color;
		display: block;
		transition: background-color 0.3s;
		cursor: pointer;

		i {
			font-size: 2.5rem;
			color: $dark-color;
			transition: color 0.3s;

			@include respond(tablet) {
				font-size: 3rem;
			}
		}

		&:hover {
			background-color: $dark-color;
			i {
				color: $bg-color;
			}
		}
	}
}
