.footer {
  &__boxes {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1em;

    @include respond(desktop) {
      grid-template-columns: 4fr 1fr 1fr 1fr;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;

    @include respond(desktop) {
      margin-top: 2em;
      margin-right: 2.5em;
      margin-bottom: 0;
    }

    &--first {
      margin-top: unset;
    }

    &-address {
      display: flex;
      flex-direction: column;

      .menu-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid transparent;
        padding: 0 0 0.5em 0;
        width: 100%;
        color: $text-color;

        &:hover {
          border-bottom: 1px solid $text-color;

          &:first-child {
            border-bottom: 1px solid transparent;

            @include respond(desktop) {
              margin-right: auto;
              width: 35%;
            }
          }
        }

        i {
          margin-right: 0.5em;
        }
      }
    }

    &-title {
      margin-bottom: 0.5em;
      color: $text-color;
      font-weight: 800;
      font-size: 1.8rem;

      @include respond(desktop) {
        font-size: 1.9rem;
      }
    }

    &:last-child {
      @include respond(desktop) {
        margin-right: 0;
      }
    }

    .menu-item {
      margin-bottom: 0.25em;

      @include respond(desktop) {
        margin-bottom: 0.5em;
      }

      a {
        display: block;
        border-bottom: 1px solid transparent;
        padding-block: 0.3em;
        width: 100%;
        color: $text-color;
        &:hover {
          border-bottom: 1px solid $text-color;
        }
      }
    }
  }

  &__logo {
    margin-bottom: 1em;
    width: 150px;
  }

  &__motto {
    margin-bottom: 1em;
    line-height: 150%;
  }

  &__img {
    width: 100%;
  }

  &__text {
    padding-bottom: 0.3em;
    color: $text-color;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tablet) {
      flex-direction: row;
    }

    &-text {
      text-align: center;
    }

    &-link {
      position: relative;
      transition: color 0.3s;
      padding: 0 0.15em;
      color: $text-color;

      &:hover {
        color: $white-color;
      }

      &:hover::after {
        height: 100%;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -5;
        transition: height 0.3s;
        background-color: $text-color;
        width: 100%;
        height: 1px;
        content: "";
      }
    }

    &-span {
      visibility: hidden;
      margin: 0 0.5em;

      @include respond(tablet) {
        visibility: visible;
      }
    }
  }
}
