.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: $bg-color;
	padding: 0 1em;
	width: 100%;

	@include respond(tablet) {
		background-color: transparent;
	}

	&__left {
		display: none;
	}

	&__search {
		display: none;

		@include respond(desktop-large) {
			display: block;
			margin-right: 10px;
		}

		div.asl_m {
			background: transparent;
		}

		div.asl_m .probox {
			background: transparent !important;
		}
		div.asl_w .probox .promagnifier {
			box-shadow: none !important;
		}
	}

	&__logo {
		width: 150px;
		a {
			display: block;
		}

		@include respond(tablet) {
			width: 180px;
		}
	}

	&__img {
		position: relative;
		z-index: 2000;
		width: 100%;
		object-fit: cover;
	}

	&__top,
	&__top-info {
		display: none;
		justify-content: center;
		align-items: center;

		@include respond(desktop-small) {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__top {
		&-socials {
			display: flex;
			margin-block: 0.5em;
			// padding: 0.5em;
			a {
				display: block;
				margin-right: 0.5em;
				color: $hover-color;
			}
			i {
				color: $bg-color;
				font-size: 2.5rem;

				@include respond(tablet) {
					font-size: 3.5rem;
				}
			}
		}

		&-info {
			padding-block: 0.5em;
			font-size: 1.4rem;
			a {
				color: $dark-color;
			}
			p {
				margin-right: 0.25em;
			}
		}
	}

	&__navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5em 0;

		@include respond(tablet) {
			padding: 0;
		}
	}

	&__tools {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			margin: 0.25em;
			padding: 0.25em;
			color: $text-color;
			i {
				font-size: 1.7rem;
			}
		}
	}

	&__btn {
		z-index: 50;
		border: none;
		background: none;
		padding: 0.5em;

		&-box {
			position: relative;
			width: 30px;
			height: 25px;
		}

		&-bars {
			position: absolute;
			top: 0;
			left: 0;
			transition: width 0.3s;
			background-color: $hover-color;
			height: 2px;

			&::after,
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				transition: width 0.3s;
				background-color: $hover-color;
				width: 100%;
				height: 2px;
				content: '';
			}

			& {
				width: 80%;
			}

			&::after {
				top: 8px;
				width: 55%;
			}

			&::before {
				top: 16px;
				width: 70%;
			}
		}
	}

	&__btn-bars.btn--active {
		&,
		&::after,
		&::before {
			width: 100%;
		}
	}
}
@media (max-width: 375px) {
	.nav {
		&__list {
			.menu-item a {
				padding: 0.5em;
				font-size: 1.3rem !important;
			}
			ul.sub-menu.sub-menu-active {
				visibility: visible;
				opacity: 1;
				max-height: 80px;
			}
			.menu-item {
				.menu-item-btn {
					padding: 0.5em;
					font-size: 1.3rem !important;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.nav {
		&__overlay {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			background-color: rgba($color: #000000, $alpha: 0.5);
			width: 100vw;
			height: 100vh;
		}
		&__overlay.overlay--active {
			visibility: visible;
			opacity: 1;
		}
		&__list {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			flex-direction: column;
			justify-content: center;
			transform: translateX(-100%);
			transition: transform 0.3s ease;
			box-shadow: -5px 0 20px $text-color;
			background-color: $bg-color;
			width: 65vw;
			height: 100vh;
			.menu-item {
				display: block;
				transition: background-color 0.2s;
				&:hover {
					background-color: rgba($color: $dark-color, $alpha: 0.1);
				}
				&-177,
				&-186,
				&-365,
				&-6839,
				&-192 {
					position: relative;
					a {
						width: 100%;
					}
				}
				&-btn {
					@include nav-btn;
					padding: 0.6em !important;
					font-size: 1.5rem !important;
				}

				&-177 {
					.sub-menu.sub-menu.sub-menu-active {
						max-height: 250px !important;
					}
				}
			}

			.sub-menu {
				display: block;
				visibility: hidden;
				opacity: 0;
				transition: max-height 0.2s, opacity 0.2s;
				box-shadow: inset 0px 1px 20px -10px;
				width: 100%;
				max-height: 0;
				overflow-y: scroll;
			}
			.sub-menu.sub-menu-active {
				visibility: visible;
				opacity: 1;
				max-height: 115px;
			}
			a {
				display: block;
				border-bottom: 1px solid rgba($color: $dark-color, $alpha: 0.4);
				padding: 0.6em !important;
				color: $text-color;
				font-size: 1.5rem !important;
			}
		}
		&__list.list--active {
			transform: translateX(0);
		}
		&__motto {
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			border-bottom: 1px solid $dark-color;
			font-size: 1.5rem;
			white-space: nowrap;
		}
	}
}
@media (min-width: 1024px) {
	.nav {
		background-color: transparent;
		padding: 0;
		&__top {
			background-color: $text-color;
			padding: 0.3em 1.5em;
			&-left {
				font-size: 1.5rem;
				p {
					color: $bg-color;
					font-weight: 700;
				}
			}
			&-center {
				margin: 0 auto;
				font-size: 1.5rem;
				p {
					color: $bg-color;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
			&-info {
				font-size: 1.5rem;
				a {
					color: $bg-color;
				}
			}
		}
		&__btn {
			display: none;
		}
		&__navbar {
			// padding: 0 1.5em;
			justify-content: flex-start;
			backdrop-filter: blur(12.5px);
			-webkit-backdrop-filter: blur(12.5px);
			transition: background-color 0.2s linear;

			// box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			background-color: transparent;
			padding: 0.5em 1.5em 0;
		}

		&__navbar.scrolled {
			display: none;

			@include respond(tablet) {
				display: flex;
				background-color: $bg-color;
			}
		}

		&__logo {
			// margin-right: 4em;
			margin: 0 auto;
			margin-left: 0;
		}
		&__list {
			display: flex;
			position: relative;
			margin: 0 auto;
			.menu-item {
				display: inline-block;
				position: relative;
				transition: background-color 0.2s;
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					transition: width 0.5s ease;
					background-color: $text-color;
					width: 0;
					height: 2px;
					content: '';
				}
				&-btn {
					display: none;
				}
				&:hover {
					background-color: rgba($color: $dark-color, $alpha: 0.1);
					&::after {
						width: 100%;
					}
				}
				&-177,
				&-186,
				&-365,
				&-6839 {
					position: relative;
					&:hover {
						.sub-menu {
							display: block;
						}
					}
				}
				&-186 {
					.menu-item-192 {
						display: inline-block;
						position: relative;
						transition: background-color 0.2s;
						.sub-menu {
							display: none;
							position: absolute;
							top: 0;
							left: 90px;
							background-color: $bg-color;
							.menu-item {
								width: 100%;
								min-width: 120px;
								&:hover {
									a {
										transform: translateX(6px);
									}
								}
								a {
									transition: transform 0.1s;
									padding: 1em;
								}
							}
						}
						&:hover .sub-menu {
							display: block;
						}
					}
				}
				&-365,
				&-6839 {
					.sub-menu {
						.menu-item {
							min-width: 120px;
						}
					}
				}
			}
			.sub-menu {
				display: none;
				position: absolute;
				top: 50px;
				left: 0;
				background-color: $bg-color;
				.menu-item {
					width: 100%;
					&::after {
						display: none;
					}
					&:hover {
						a {
							transform: translateX(3px);
						}
					}
					a {
						transition: transform 0.1s;
						padding: 1em;
					}
				}
			}
			a {
				// font-weight: 600;
				display: block;
				padding: 1em;
				color: $text-color;
			}
		}
		&__motto {
			display: none;
		}
		&__tools {
			// margin-left: auto;
			a {
				display: block;
				i {
					font-size: 2rem;
				}
			}
		}

		&__left {
			display: flex;

			&-item {
				display: block;
				position: relative;
				&:hover {
					background-color: rgba($color: $dark-color, $alpha: 0.1);
					&::after {
						width: 100%;
					}
				}

				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					transition: width 0.5s ease;
					background-color: $text-color;
					width: 0;
					height: 2px;
					content: '';
				}
			}

			&-item:hover &-submenu {
				display: flex;
			}

			&-submenu {
				display: none;
				position: fixed;
				right: 0;
				// top: 50px;
				left: 0;
				justify-content: space-between;
				gap: 5em;
				background-color: $bg-color;
				padding: 2em 10em;
				width: 100%;

				&::after {
					position: absolute;
					top: 100%;
					right: 0;
					left: 0;
					opacity: 0.15;
					background: linear-gradient(180deg, #000 0, rgba(0, 0, 0, 0) 100%);
					height: 20px;
					content: '';
				}
			}

			&-subitems {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				background-color: $bg-color;
				width: 30%;
				// max-width: 600px;
				&-nested {
					padding-left: 1.5em;
				}

				&-columns {
					display: flex;
					flex-direction: row;
					gap: 3em;
				}
			}

			&-subitem {
				position: relative;
				// border-bottom: 1px solid rgba($color: $dark-color, $alpha: 0.1);
				// width: 100%;
				font-weight: 400;
				font-size: 1.8rem;

				&::after {
					position: absolute;
					bottom: 0;
					left: 10px;
					transition: width 0.3s;
					background-color: $dark-color;
					width: 0px;
					height: 2px;
					content: '';
				}

				&:hover {
					&::after {
						width: 100%;
					}
				}
			}

			&-imgs {
				display: flex;
				align-items: flex-start;
				gap: 1em;
				// width: 60%;
			}

			&-img {
				width: 500px !important;
				max-width: 100%;
				height: 300px !important;
				object-fit: cover;
			}

			&-linkImg {
				display: flex !important;
				flex-direction: column;
				gap: 1em;
				transition: border-bottom 0.2s;
				border-bottom: 2px solid rgba(209, 209, 209, 0.8196078431);
				padding: 0 !important;
				padding-bottom: 1em !important;

				&-mattress {
					max-width: 550px;
					// text-align: center;

					img {
						width: 100% !important;
					}
				}

				&:hover {
					border-bottom: 2px solid $dark-color;
				}
			}

			&-text {
				font-weight: 400;
				font-size: 1.6rem;
			}
		}

		.menu-beds,
		.menu-mattress,
		.menu-saloons,
		.menu-furniture,
		.menu-cooperation {
			display: none;
		}
	}
}

.product_meta {
	display: none;
}

.azardi-promo-menu {
	a {
		color: $red !important;
		font-weight: 700 !important;
	}
}
