.woocommerce {
	.woocommerce-breadcrumb {
		a {
			color: $text-color;
			&:hover {
				border-bottom: 1px solid $text-color;
			}
		}
	}
}

@media (min-width: 768px) {
	.woocommerce {
		.woocommerce-breadcrumb {
			font-size: 1.8rem;
		}
	}
}
