.products {
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include respond(tablet) {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__box {
		position: relative;
		margin-bottom: 2em;
		width: 100%;
		max-width: 500px;
		height: 650px;

		@include respond(tablet) {
			margin-bottom: 0;
			max-width: 100%;
		}

		&::before {
			position: absolute;
			opacity: 1;
			z-index: 15;
			transition: opacity 0.3s;
			background-color: rgba($color: $dark-color, $alpha: 0.3);
			width: 100%;
			height: 100%;
			content: '';
		}
		&:hover::before {
			opacity: 0.45;
		}
	}

	&__img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 30;
		color: $white-color;
		font-weight: 100;
		font-size: 3.5rem;
		letter-spacing: 5px;
		text-transform: uppercase;

		@include respond(tablet) {
			font-size: 5rem;
		}
	}

	&__btn {
		@include btn-outline;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 35;
		border-radius: 5px;

		@include respond(tablet) {
			font-size: 1.8rem;
		}
	}
}

select.orderby {
	margin-top: -20px;
}

.featured {
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include respond(tablet) {
			flex-direction: row;
		}
	}

	&__product {
		margin: 1em;
		width: 100%;
		max-width: 350px;
		height: 100%;

		@include respond(desktop) {
			max-width: 500px;
		}

		&-top {
			height: 300px;
			overflow: hidden;
		}

		&-img {
			transition: transform 0.3s;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:hover &-img {
			transform: scale(1.05);
		}

		&:hover &-box {
			background-color: $bg-color;
		}

		&:hover &-description,
		&:hover &-title,
		&:hover &-price {
			color: $text-color;
		}

		&-box {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			transition: background-color 0.3s;
			border-bottom: 2px solid $dark-color;
			background-color: $dark-color;
			padding: 1em;
		}

		&-description,
		&-title {
			transition: color 0.3s;
			margin-bottom: 0.5em;
			color: $white-color;

			@include respond(tablet) {
				font-size: 1.8rem;
			}
		}

		&-price {
			transition: color 0.3s;
			color: $white-color;
			font-weight: 800;

			@include respond(tablet) {
				font-size: 1.8rem;
			}
		}
	}
}

.woocommerce-products-header__title.page-title {
	margin-bottom: 1.5em;
	color: #000;
	font-weight: 700;
	font-size: 2.8rem;
	letter-spacing: 2px;
	text-transform: capitalize;

	@include respond(tablet) {
		float: left;
		margin-bottom: 0;
	}
}

.related.products {
	h2 {
		margin-bottom: 1em;
	}
}

.woocommerce-loop-product__title {
	order: 0;
	padding-block: 0 !important;
	letter-spacing: 1px;
}

span.price {
	order: 3;
}

.product__category-box {
	display: flex;
	order: 1;
	gap: 0.25em;
	color: rgba($color: $dark-color, $alpha: 0.6);
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.term-description {
	border: 2px solid $gray-color;
	border-radius: 5px;
	background-color: $white-color;
	padding: 1em;

	img {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 350px;
	}

	p {
		margin-bottom: 0.5em;
		color: $text-color;
		line-height: 150%;
	}
}

.shop-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2em;
	width: 100%;

	@include respond(tablet) {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 0.3fr 1fr;
	}

	.shop-content {
		display: flex;
		align-items: flex-start;
	}

	.wpfMainWrapper {
		box-shadow: 0 0 10px rgba($color: $dark-color, $alpha: 0.2);
		border-radius: 10px;
		// background-color: rgba($color: $dark-color, $alpha: 0.03);
		padding: 1em 1em;
		width: 100% !important;
	}

	.products {
		width: 100% !important;

		// @include
	}

	.wpfCheckbox {
		// display: none;
	}
	.wpfFilterContent {
		padding-left: 0.5em;

		ul li {
			font-size: 1.5rem;

			@include respond(tablet) {
				font-size: 1.6rem;
			}
		}
	}

	.wfpTitle {
		margin-bottom: 0.3em !important;
		font-weight: 700 !important;
		font-size: 1.6rem;

		@include respond(tablet) {
			font-size: 1.8rem !important;
		}
	}

	.wpfFilterWrapper[data-radio='1'] .wpfCheckbox label:before {
		width: 13px !important;
		height: 13px !important;

		@include respond(tablet) {
			width: 15px !important;
			height: 15px !important;
		}
	}

	.wpfFilterVerScroll li label {
		// display: flex !important;
	}

	.wpfFilterButton.wpfButton,
	.wpfClearButton.wpfButton {
		margin: 0;
		border-radius: 5px !important;
		background-color: $dark-color;
		padding: 1em 2em;
		width: 100%;
		min-height: 0 !important;
		color: $bg-color;
		font-size: 1.4rem;
	}
}

.shop-pagination {
	.woocommerce-pagination {
		@include respond(tablet) {
			text-align: right !important;
		}
	}
}
