.product_meta {
	display: block !important;

	span.sku_wrapper,
	span.posted_in,
	span.tagged_as {
		display: block;
		margin-bottom: 0.5em;
		color: #d1d1d1;
		font-size: 1.5rem;
		a {
			display: inline-block;
			margin: 0.15em;
			border: 1px solid #d1d1d1;
			border-radius: 5px;
			background-color: $bg-color;
			padding: 0.2em 0.5em;
			color: #d1d1d1;
			font-size: 1.2rem;
			white-space: nowrap;
		}
	}

	span.sku_wrapper {
		display: none;
	}
}
