li.product {
	// margin: 1em !important;
	border-bottom: 1px solid $text-color;
	width: 100% !important;
	// max-width: 340px;
	a {
		display: flex;
		flex-direction: column;
		gap: 0.3em;

		&:hover {
			img {
				// transform: scale(0.98);
			}
		}
		span.onsale {
			margin: 0 !important;
			border-radius: 0;
			background-color: $dark-color;
			padding: 0.8em !important;
			min-width: 90px;
			min-height: 0;
			line-height: 0;
			text-transform: uppercase;
		}
		img {
			transition: opacity 0.3s;
			margin: 0 !important;
			height: 100% !important;
		}
		p {
			display: none;
		}
		h2 {
			color: $text-color;
			font-weight: 700;
			font-size: 1.7rem !important;
			text-transform: uppercase;
		}
		span.price {
			color: $hover-color !important;
			font-weight: 400 !important;
			font-size: 1.3rem !important;

			span.woocommerce-Price-amount.amount {
				margin-left: 0.3rem;
				font-weight: 700;
				font-size: 1.9rem;
			}
		}
	}
}

button.single_add_to_cart_button.button.alt.wp-element-button.disabled.wc-variation-selection-needed,
button.single_add_to_cart_button.button.alt.wp-element-button {
	border: 2px solid $dark-color !important;
	background-color: $dark-color !important;
	color: $bg-color !important;

	&:hover {
		background-color: $bg-color !important;
		color: $text-color !important;
	}

	&::after {
		content: '';
	}
}

a.button.wc-forward.wp-element-button {
	border: none;
	background-color: $bg-color !important;
	color: $text-color !important;
	text-decoration: none;
}

.wc-proceed-to-checkout {
	a.checkout-button.button.alt.wc-forward.wp-element-button {
		border: 2px solid transparent;
		color: $bg-color !important;

		&:hover {
			border: 2px solid $text-color;
			background-color: $bg-color !important;
			color: $text-color !important;
		}
	}
}

.added_to_cart.wc-forward {
	display: none;
	position: relative;
	visibility: hidden;

	&::before {
		display: flex !important;
		position: relative;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: flex-start;
		visibility: visible;
		margin-block: 0.5em;
		border-bottom: 2px solid green;
		background-color: #eee;
		padding: 0.5em;
		content: 'Produkt został dodany do koszyka';
		color: $text-color;
		text-align: center;
	}
}

p.product__category-class {
	display: block !important;
}

.product__fabrics {
	display: flex;
	flex-direction: column;
	gap: 1em;

	border-bottom: 1px solid #333533;
	padding: 1em 0.5em;

	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-text {
		width: 45%;
		font-weight: 700;
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&-img {
		width: 100%;
		height: 100px !important;
		object-fit: cover;
	}

	&-current {
		transition: background-color 0.2s, color 0.2s, border 0.2s;
		cursor: pointer;
		outline: none;
		border: 1px solid #d1d1d1;
		border-radius: 5px;
		padding: 0.5em;
		width: 55%;
		color: #202020;
		font-size: 1.4rem;
		text-transform: uppercase;

		&:hover {
			border: 1px solid $dark-color;
		}
	}
}

.product__fabrics.hidden {
	display: none;
}

.product-category.product {
	a {
		img {
			display: block !important;
		}
	}
}
