.returns {
	&__boxes {
		margin: 1em;
	}
	&__box {
		margin-bottom: 1em;
		&-title {
			margin-bottom: 0.5em;
			color: $dark-color;
			@include respond(tablet) {
				font-size: 2rem;
			}
		}
		&-text {
			margin-bottom: 0.25em;
			color: $text-color;
			line-height: 150%;
			a {
				color: $text-color;
				font-weight: 700;
				&:hover {
					border-bottom: 1px solid $text-color;
				}
			}
		}
	}
	&__list {
		&-item {
			position: relative;
			margin-bottom: 0.25em;
			margin-left: 1em;
			color: $text-color;
			&::before {
				position: absolute;
				top: -2px;
				left: -20px;
				content: '+';
				font-weight: 700;
				font-size: 1.7rem;
			}
		}
	}
}
