.samples {
	&__text {
		margin-bottom: 1em;
		color: $text-color;
		line-height: 150%;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 1em;
		color: $text-color;

		&-top,
		&-middle,
		&-bottom {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}

		&-label {
			color: $text-color;
			font-weight: 700;
			font-size: 1.4rem;
			text-transform: uppercase;
		}

		&-input {
			outline: none;
			border: 1px solid gray;
			border-radius: 5px;
			padding: 0.8em 1em;
			font-family: 'Roboto', sans-serif;

			&:focus {
				border: 1px solid $dark-color;
				background-color: rgba($color: $dark-color, $alpha: 0.1);
			}
		}

		&-btn {
			transition: background-color 0.3s, color 0.3s, border 0.3s;
			margin-bottom: 1em;
			border: 2px solid transparent;
			border-radius: 5px;
			background-color: $dark-color;
			padding: 1em;
			color: $bg-color;
			font-weight: 700;
			text-transform: uppercase;

			&:hover {
				border: 2px solid $dark-color;
				background-color: $bg-color;
				color: $text-color;
			}

			@include respond(tablet) {
				margin: 0 auto;
				width: 100%;
				max-width: 500px;
			}
		}

		&-info {
			align-self: flex-start;
			margin-bottom: 2em;
			border-bottom: 2px solid green;
			padding: 0.5em 1em;
			font-weight: 700;
			font-size: 1.4rem;
			text-transform: uppercase;
		}
	}
}
