.product {
	.summary {
		color: $text-color;
	}
	p.price {
		color: $dark-color !important;
	}
	.woocommerce-variation-price {
		span {
			color: $dark-color !important;
		}
	}
	.woocommerce-variation-availability {
		p {
			color: $dark-color !important;
		}
	}
	span.onsale {
		margin: 0 !important;
		border-radius: 0;
		background-color: $dark-color;
		padding: 0.8em !important;
		min-width: 90px;
		min-height: 0;
		line-height: 0;
		text-transform: uppercase;
	}
	table.variations {
		tbody {
			display: flex;
			flex-direction: column;
			tr {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				border-bottom: 1px solid $dark-color;
				padding: 0 0.5em;
				width: 100%;
				td,
				th {
					padding: 1em 0 !important;
					line-height: 2em !important;
					text-transform: uppercase;
				}
				th {
					width: 50%;
					text-align: left;
					label {
						font-size: 1.4rem;
					}
				}
				td {
					width: 50%;
					select {
						@include btn-product;
						cursor: pointer;
						padding: 0.5em 0.25em;
						width: 100% !important;
						text-transform: uppercase;
					}
					a {
						border-bottom: 1px solid gray;
						color: gray;
					}
				}
			}
		}
	}
	.single_variation_wrap {
		display: flex;
		flex-direction: column;
		.woocommerce-variation-add-to-cart {
			display: flex;
			flex-direction: column;
			.quantity {
				margin: 1em 0 !important;
				.qty {
					padding: 0.5em;
					min-width: 25%;
					max-width: 30%;
					input {
						border: 1px solid gray;
						border-radius: 0 !important;
					}
				}
			}
			.wp-element-button {
				@include btn-product;
				padding: 1em;
				text-transform: uppercase;
			}
			button.alt.disabled {
				background-color: $dark-color;
			}
		}
	}
	form.cart {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $dark-color;
		padding-bottom: 1em;
		@include respond(tablet) {
			&::before,
			&::after {
				display: none !important;
			}
		}
		.quantity {
			margin: 1em 0 !important;
			.qty {
				padding: 0.5em;
				min-width: 25%;
				max-width: 30%;
				@include respond(tablet) {
					width: 100%;
					min-width: 100%;
					max-width: 100%;
				}
				input {
					border: 1px solid gray;
					border-radius: 0 !important;
				}
			}
		}
		.wp-element-button {
			@include btn-product;
			padding: 1em;
			text-transform: uppercase;
		}
		button.alt.disabled {
			background-color: $dark-color;
		}
	}
}
.woocommerce-Tabs-panel {
	h2 {
		margin-bottom: 1em;
		color: $text-color;
	}
	p {
		margin-block: 0.5em;
		color: $text-color;
		line-height: 150%;
		img {
			@include respond(tablet) {
				max-width: 60%;
			}
		}
	}
	ul {
		line-height: 150%;

		li {
			position: relative;
			margin-top: 0.5em;
			margin-left: 2em;
			color: $text-color;
			&::before {
				position: absolute;
				top: -2px;
				left: -20px;
				content: '+';
				font-weight: 700;
				font-size: 1.7rem;
			}
		}
	}
	ol {
		line-height: 150%;
		li {
			margin-top: 0.5em;
			margin-left: 2em;
			color: $text-color;
		}
	}
	&--description {
		table {
			margin-block: 1em;
			width: 100%;
			max-width: 840px;
			tbody {
				tr {
					display: flex;
					justify-content: space-between;
					margin-bottom: 1em;
					border-bottom: 2px solid $dark-color;
				}
				td {
					padding: 0.5em;
				}
			}
		}
	}
}

.related.products {
	h2 {
		color: $text-color;
	}
}

p.custom-info {
	margin-block: 1em;
	padding: 0.8em 1em;
	background-color: $dark-color;
	color: $white-color;
	font-size: 1.5rem;
	text-align: center;
	// border-bottom: 4px solid $red;
}
