.product {
	// overflow: hidden;
	.summary {
		color: $text-color;
		text-align: right;
	}
	p.price {
		color: $dark-color !important;
	}
	.woocommerce-variation-price {
		span {
			color: $dark-color !important;
		}
	}
	.woocommerce-variation-availability {
		p {
			color: $dark-color !important;
		}
	}
	span.onsale {
		margin: 0 !important;
		border-radius: 0;
		background-color: $dark-color;
		padding: 0.8em !important;
		min-width: 90px;
		min-height: 0;
		line-height: 0;
		text-transform: uppercase;
	}
	table.variations {
		tbody {
			display: flex;
			flex-direction: column;
			tr {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: stretch !important;
				border-bottom: 1px solid $dark-color;
				padding: 0 0.5em;
				width: 100%;
				td,
				th {
					padding: 1em 0 !important;
					line-height: 2em !important;
					text-transform: uppercase;
				}
				th {
					width: 45%;
					text-align: left;
					label {
						font-size: 1.4rem;
					}
				}
				td {
					width: 55%;
					select {
						@include btn-product;
						cursor: pointer;
						outline: none;
						border: 1px solid #d1d1d1 !important;
						border-radius: 5px !important;
						background-color: $bg-color;
						padding: 0.5em 0.25em;
						width: 100% !important;
						color: $text-color;
						text-transform: uppercase;

						&:hover,
						&:focus,
						&:focus-visible {
							border: 1px solid $dark-color !important;
						}
					}
					a {
						border-bottom: 1px solid gray;
						color: gray;
					}
				}
			}
		}
	}
	.single_variation_wrap {
		display: flex;
		flex-direction: column;
		.woocommerce-variation-add-to-cart {
			display: flex;
			flex-direction: column;
			.quantity {
				margin: 1em 0 !important;
				.qty {
					transition: border 0.3s;
					outline: none;
					border: 1px solid #d1d1d1;
					border-radius: 5px !important;
					padding: 0.5em;
					min-width: 25%;
					max-width: 30%;

					&:hover,
					&:focus,
					&:focus-visible {
						border: 1px solid $dark-color !important;
					}
				}
			}
			.wp-element-button {
				@include btn-product;
				border-radius: 5px !important;
				padding: 1em;
				text-transform: uppercase;
			}
			button.alt.disabled {
				background-color: $dark-color;
			}
		}

		.single_add_to_cart_button.button.alt {
			padding: 1em 2em !important;

			&::after {
				display: none !important;
			}

			&:focus,
			&:hover {
				background-color: $white-color !important;
				color: $text-color !important;
			}
		}

		.input-text.qty.text {
			width: 100% !important;
			min-width: initial !important;
			max-width: initial !important;
		}
	}
	form.cart {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $dark-color;
		padding-bottom: 1em;
		@include respond(tablet) {
			&::before,
			&::after {
				display: none !important;
			}
		}
		.quantity {
			margin: 1em 0 !important;
			.qty {
				padding: 0.5em;
				min-width: 25%;
				max-width: 30%;
				@include respond(tablet) {
					width: 100%;
					min-width: 100%;
					max-width: 100%;
				}
				input {
					border: 1px solid #d1d1d1;
					border-radius: 0 !important;
				}
			}
		}
		.wp-element-button {
			@include btn-product;
			border-radius: 5px !important;
			padding: 1em;
			text-transform: uppercase;

			&:hover {
				background-color: $bg-color;
			}
		}
		button.alt.disabled {
			background-color: $dark-color;
		}
	}
}
.woocommerce-Tabs-panel {
	h2 {
		margin-bottom: 1em;
		color: $text-color;
	}
	p {
		margin-block: 0.5em;
		color: rgba(51, 53, 51, 0.8);
		font-size: 1.5rem;
		line-height: 150%;
		img {
			@include respond(tablet) {
				max-width: 60%;
			}
		}
	}
	ul {
		line-height: 150%;

		li {
			position: relative;
			margin-top: 0.5em;
			margin-left: 2em;
			color: $text-color;
			&::before {
				position: absolute;
				top: -2px;
				left: -20px;
				content: '+';
				font-weight: 700;
				font-size: 1.7rem;
			}
		}
	}
	ol {
		line-height: 150%;
		li {
			margin-top: 0.5em;
			margin-left: 2em;
			color: $text-color;
		}
	}
	&--description {
		table {
			margin-block: 1em;
			width: 100%;
			max-width: 840px;
			tbody {
				tr {
					display: flex;
					justify-content: space-between;
					margin-bottom: 1em;
					border-bottom: 2px solid $dark-color;
				}
				td {
					padding: 0.5em;
				}
			}
		}
	}
}

.related.products {
	h2 {
		color: $text-color;
	}
}

p.custom-info {
	margin-block: 1em;
	background-color: $dark-color;
	padding: 0.8em 1em;
	color: $white-color;
	font-size: 1.5rem;
	text-align: center;
	// border-bottom: 4px solid $red;
}

.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images {
	@include respond(desktop) {
		width: 65% !important;
	}

	.wpgs-nav.slick-initialized.slick-slider {
		i.thumb {
			display: none !important;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10000;
			transition: background-color 0.3s;
			cursor: pointer;
			background-color: rgba($color: $dark-color, $alpha: 0.7);
			color: $bg-color;
			font-size: 3rem;

			@include respond(tablet) {
				display: block !important;
			}

			&-left {
				left: 5px;
			}

			&-right {
				right: 5px;
			}

			&:hover {
				background-color: rgba($color: $dark-color, $alpha: 0.9);
			}
		}
	}

	i.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		transition: background-color 0.3s;
		cursor: pointer;
		background-color: rgba($color: $dark-color, $alpha: 0.7);
		font-size: 3rem;

		&:before {
			color: $bg-color;
		}

		&-previous {
			left: 0;
		}
		&-next {
			right: 0;
		}

		&:hover {
			background-color: rgba($color: $dark-color, $alpha: 0.9);
		}
	}

	.slick-dots {
		display: flex !important;
		justify-content: center;
		align-items: center;
		margin-block: 0.5em;
		overflow: hidden;

		li {
			width: 10px;
			height: 10px;
		}

		li button {
			width: 10px;
			height: 10px;

			&::before {
				width: 8px;
				height: 8px;
			}
		}

		@include respond(tablet) {
			display: none !important;
		}
	}

	.wpgs-nav .slick-current {
		border: 1px solid #d1d1d1 !important;
	}
}

.summary.entry-summary {
	@include respond(desktop) {
		width: 28% !important;
	}
}

a.custom-fabrics {
	align-self: flex-end;
	transition: border-bottom 0.3s;
	border-bottom: 1px solid #d1d1d1;
	padding: 0.5em;
	color: $text-color;
	font-size: 1.1rem;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;

	&:hover {
		// color: $text-color;
		border-bottom: 1px solid $dark-color;
	}
}

.reset_variations {
	display: table;
	transition: border-bottom 0.3s;
	margin-left: auto;
	border-bottom: 1px solid #d1d1d1 !important;
	padding-inline: 0.5em;
	color: $text-color !important;
	font-size: 1.1rem !important;
	letter-spacing: 1px;
	text-align: right;

	&:hover {
		border-bottom: 1px solid $dark-color !important;
	}
}

.attachment-full,
.wpgs-thumb-main-image {
	width: 100% !important;
	height: 100px !important;
	object-fit: cover;

	@include respond(desktop) {
		height: 150px !important;
	}
}

.slick-track {
	display: flex !important;
}

.woo-variation-swatches .variable-items-wrapper {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(1, 1fr);

	@include respond(tablet) {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.3em;
		padding: 0 0.5em;
	}
}

ul.variable-items-wrapper {
	li {
		box-shadow: none !important;
		border: 1px solid rgb(214, 214, 214) !important;
		border-radius: 5px !important;
		padding: 1.5em 2em !important;
		width: 100% !important;

		&:hover {
		}

		span {
			color: #323232 !important;
			letter-spacing: 1px !important;
		}
	}
}

ul[data-attribute_name='attribute_pa_fabrics-image'] {
	display: flex !important;
	justify-content: flex-end !important;
	padding: 0 1em;
	// display: none !important;
	li {
		border-radius: 50% !important;
		padding: initial !important;
		width: 35px !important;
		height: 35px !important;

		img {
			border-radius: 50% !important;
		}
	}
}

.variable-item.button-variable-item.selected {
	border: 1px solid #000 !important;
	span {
		color: #000;
		font-weight: 700 !important;
	}
}

th.label {
	font-size: 1.8rem !important;

	letter-spacing: 1px !important;
	text-align: right !important;
}

.checkout-button.button.alt.wc-forward {
	&:focus,
	&:hover {
		background-color: $white-color !important;
		color: $text-color !important;
	}
}

.rtwpvg-slider-prev-arrow {
	left: 0 !important;
}

.rtwpvg-slider-next-arrow {
	right: 0 !important;
}

.rtwpvg-slider-next-arrow,
.rtwpvg-slider-prev-arrow,
.rtwpvg-thumbnail-next-arrow,
.rtwpvg-thumbnail-prev-arrow {
	transition: all 0.3s !important;
	background-color: rgba($color: $dark-color, $alpha: 0.7) !important;
	color: $bg-color !important;

	&:hover {
		background-color: rgba($color: $dark-color, $alpha: 0.9) !important;
	}
}

.rtwpvg-thumbnail-next-arrow,
.rtwpvg-thumbnail-prev-arrow {
	top: 50% !important;
	transform: translateY(-50%);
	height: 40px !important;
}

.rtwpvg-images {
	@include respond(tablet) {
		max-width: 45% !important;
	}

	@include respond(desktop) {
		max-width: 65% !important;
	}
}

.rtwpvg-slider-wrapper,
.rtwpvg-thumbnail-wrapper {
	margin-bottom: 2em !important;
}

.rtwpvg-thumbnail-image {
	img {
		width: 100% !important;
		// height: 150px !important;
		object-fit: cover;
	}
}
