.woocommerce-page {
	margin-top: 85px;

	@include respond(tablet) {
		margin-top: 30px;
	}
}

.woocommerce {
	&::before,
	&::after {
		content: none !important;
	}

	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		border-top: unset;
		background-color: $dark-color;
		color: $white-color;
		a {
			color: $white-color;
			text-decoration: underline;
		}
	}
	.woocommerce-error {
		margin-top: 5em;
		background-color: $white-color;
		color: $text-color;

		@include respond(tablet) {
			margin-top: 3em;
		}
	}

	form .form-row input.input-text {
		border: 1px solid gray;
		padding: 0.8em 1em;
	}

	.select2-container--default .select2-selection--single {
		border: 1px solid gray;
		border-radius: unset;
	}

	form .form-row textarea {
		padding: 0.8em 1em;
		min-height: 120px;
		font-family: 'Arial', sans-serif !important;
	}

	form.checkout_coupon {
		display: flex;
		flex-direction: column;

		p:first-of-type {
			margin-block: 10px;
		}
	}

	.checkout h3 {
		margin-block: 20px;
	}

	.woocommerce-info::before,
	.woocommerce-message::before {
		color: $white-color;
	}

	.product-name a {
		color: $dark-color;
		font-weight: 600;
		text-decoration: underline;
	}

	.cart_totals h2 {
		margin-bottom: 20px;
	}

	input[type='number']::-webkit-inner-spin-button {
		opacity: 1;
	}

	.quantity .qty {
		height: 35px;
	}

	.woocommerce-breadcrumb {
		margin: 2.5em 0 1.5em 0;
		font-size: 1.3rem;
		a {
			color: $text-color;
			&:hover {
				border-bottom: 1px solid $text-color;
			}
		}
	}
	.woocommerce-ordering {
		float: left;

		@include respond(tablet) {
			float: right;
			margin-bottom: 1.5em;
		}

		select.orderby {
			padding: 0.4em 0.8em;
			color: #333533;
			font-family: 'Roboto', sans-serif;
		}
	}
	.woocommerce-result-count {
		display: none;
	}
}

.woocommerce-remove-coupon {
	color: $red;
	font-weight: 700;
}

.shop,
.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-content,
.woocommerce-cart-form,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents,
.cart-collaterals,
.woocommerce-form-coupon-toggle,
.checkout.woocommerce-checkout,
.order_details,
#payment,
.checkout_coupon.woocommerce-form-coupon,
#customer_login,
.woocommerce-notices-wrapper,
.return-to-shop,
.woocommerce-ResetPassword.lost_reset_password,
.woocommerce-order {
	@include container();
	margin: 0 auto !important;
}

.woocommerce-pagination,
.woocommerce-ResetPassword.lost_reset_password {
	margin-block: 1em;
}

.cart-empty.woocommerce-info,
.woocommerce-error {
	margin: 0 auto 2em;
	width: 100%;
	max-width: 1600px;
}

.shop__layout {
	ul.products {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&::before,
		&::after {
			content: none;
		}

		@include respond(mobile-max) {
			grid-column-gap: 1em;
			grid-row-gap: 1em;
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(2, 1fr);
		}

		@include respond(tablet) {
			grid-column-gap: 1em;
			grid-row-gap: 1em;
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: initial;
	height: 35px;
}

.woocommerce-cart-form__cart-item.cart_item {
	td.product-thumbnail {
		a {
			img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
				width: 120px;
			}
		}
	}
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: #333533;
	color: $white-color;
	@include btn-product;
	border-radius: 5px !important;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: $dark-color;
	color: $white-color;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
	opacity: unset;
	color: $white-color;
}

.shop__layout .woocommerce-message {
	@include respond(tablet) {
		padding: 1em 2em 0em 3.5em;
	}
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
	@include respond(tablet) {
		position: relative;
		top: -8px;
	}
}

.woocommerce-thankyou-order-received {
	margin-top: 100px;
	margin-bottom: 20px;

	@include respond(desktop) {
		margin-top: 50px;
	}
}

.woocommerce-shipping-calculator {
	display: none;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
select.orderby,
input.input-text {
	transition: border 0.3s;
	outline: none;
	border: 1px solid #d1d1d1;
	border-radius: 5px !important;

	&:hover,
	&:focus,
	&:focus-visible {
		border: 1px solid $dark-color !important;
	}
}

.woocommerce {
	a.woocommerce-Button.button {
		border: none;
		background-color: $bg-color;
		color: $text-color;
		text-decoration: none;

		&:hover {
			border: none;
			background-color: $bg-color !important;
		}
	}
	.button.wp-element-button {
		&:hover {
			background-color: $bg-color !important;
		}
	}
}

input.shipping_method,
input.input-radio,
.woocommerce-form__input.woocommerce-form__input-checkbox,
#eraty-confirmation {
	accent-color: $dark-color;
}

input.woocommerce-form__input.woocommerce-form__input-checkbox.input-checkbox {
	accent-color: $dark-color;
}

.woocommerce-checkout-payment {
	background-color: $gray-color !important;
}

.eraty-terms-button,
.woocommerce-terms-and-conditions-link {
	color: $text-color;
	text-decoration: underline;
}

a.checkout-button.button.alt.wc-forward.wp-element-button,
.woocommerce-button.button.woocommerce-form-login__submit.wp-element-button,
.woocommerce-Button.woocommerce-button.button.wp-element-button.woocommerce-form-register__submit,
#place_order {
	&:hover {
		background-color: $bg-color !important;
	}
}

#place_order {
	&:hover {
		background-color: $bg-color !important;
	}

	&:focus {
		color: $bg-color;
	}
}

.actions {
	button.button.wp-element-button {
		transition: border 0.3s, background-color 0.3s, color 0.3s;
		outline: none;
		border: 1px solid #d1d1d1;
		border-radius: 5px !important;

		&:hover,
		&:focus,
		&:focus-visible {
			border: 1px solid $dark-color !important;
			background-color: $bg-color !important;
		}
	}
}
