@import "__mixins.scss";
@import "__colors.scss";
@import "__reset.scss";
@import "__components.scss";
@import "__products.scss";
@import "__nav.scss";
@import "__header.scss";
@import "__footer.scss";

.categories {
  &__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__box {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 1em;
    width: 100%;
    height: 100%;
    &::after {
      position: absolute;
      opacity: 1;
      transition: opacity 0.3s;
      background-color: rgba($color: $dark-color, $alpha: 0.4);
      width: 100%;
      height: 100%;
      content: "";
    }
    &:hover::after {
      opacity: 0.65;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &::before {
      position: absolute;
      background-color: rgba($color: $dark-color, $alpha: 0.4);
      width: 100%;
      height: 100%;
      content: "";
    }
  }
  &__bottom {
    position: relative;
    z-index: 20;
    background-color: $bg-color;
    padding: 1em;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 0.5s;
      background-color: $dark-color;
      width: 100%;
      height: 1px;
      content: "";
    }
  }
  &__title {
    color: $text-color;
  }
}
// products
.products {
  &__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__box {
    position: relative;
    margin-bottom: 2em;
    width: 100%;
    max-width: 500px;
    height: 650px;
    &::before {
      position: absolute;
      opacity: 1;
      z-index: 15;
      transition: opacity 0.3s;
      background-color: rgba($color: $dark-color, $alpha: 0.6);
      width: 100%;
      height: 100%;
      content: "";
    }
    &:hover::before {
      opacity: 0.65;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    color: $white-color;
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  &__btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    @include btn-outline;
    z-index: 35;
  }
}
.featured {
  &__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__product {
    margin: 1em;
    width: 100%;
    max-width: 350px;
    height: 100%;
    &-top {
      height: 300px;
      overflow: hidden;
    }

    &-img {
      transition: transform 0.3s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover &-img {
      transform: scale(1.05);
    }
    &:hover &-box {
      background-color: $bg-color;
    }
    &:hover &-description,
    &:hover &-title,
    &:hover &-price {
      color: $text-color;
    }
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      transition: background-color 0.3s;
      border-bottom: 2px solid $dark-color;
      background-color: $dark-color;
      padding: 1em;
    }
    &-description,
    &-title {
      transition: color 0.3s;
      margin-bottom: 0.5em;
      color: $white-color;
    }

    &-price {
      transition: color 0.3s;
      color: $white-color;
      font-weight: 800;
    }
  }
}

// media queries
@media (min-width: 768px) {
  .categories {
    &__title {
      font-size: 2.2rem;
    }
  }
  .products {
    &__boxes {
      flex-direction: row;
    }
    &__box {
      margin-bottom: 0;
    }
    &__text {
      font-size: 5rem;
    }
    &__btn {
      font-size: 1.8rem;
    }
  }
  .featured {
    &__boxes {
      flex-direction: row;
    }
    &__product {
      &-description,
      &-title,
      &-price {
        font-size: 1.8rem;
      }
    }
  }
}
@media (min-width: 992px) {
  .categories {
    &__boxes {
      flex-direction: row;
    }
  }
  .featured {
    &__product {
      max-width: 500px;
    }
  }
}
